#main {
  width: 1520px;
  height: 750px;
  border: 1px #c3c3c3 solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#img2{
  filter: grayscale(100%);
}

#img3{
  filter: blur(5px);
}

#img4{
  filter: invert(100%);
}

#img5{
  filter: brightness(200%);
}

#img6{
  filter: saturate(8);
}

#img7{
  filter: sepia(100%);
}

#img8{
  filter: grayscale(100%) blur(5px);
}

