  * {
    font-family:sans-serif;
    font-size:1.2em;
  }
  .container {
    height: 550px;
    width: 550px;
  }
  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2px;
  }
  .box {
    height: 70px;
    width: 70px;
    font-size:0.5em;
    font-weight: bold;
    margin:0px;
    padding:5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .month {
    grid-column: 1 / 8;
    grid-row: 1 / 2;
    width: 574px;
    background-color: black;
    border: 1px solid black;
    color: white;
    font-size:1.2em;
  }
  .day {
    background-color: white;
    color: black;
    border: 1px solid white;
  }
  .blank {
    background-color: white;
    border: 1px solid #d8d8d8;
    color: black;
    
  }
  .date {
     background-color: #d8d8d8;
    border: 1px solid #d8d8d8;
    color: black;   
  }